{% extends 'base_template.html' %}
{% load static %}

{% block body_content %}
<div class="container">
    <h1 class="text-center mb-4">Project List</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for project in projects %}
        <div class="col">
            <div class="card h-100 shadow-sm">
                <img src="{% static 'images/projects/' %}{{ project.image }}" class="card-img-top" alt="{{ project.name }}">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                        <a href="{% url 'project' pk=project.pk %}" class="text-decoration-non">
                            {{ project.name }}
                        </a>
                    <h6 class="card-title">{{ project.get_status_display }}</h6>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-center">No projects found.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}