{% extends 'base_template.html' %}
{% load static %}

{% block body_content %}
<div class="container">
    <h1 class="project-title text-center mb-4">Project List</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for project in projects %}
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <a href="{% url 'project' pk=project.pk %}">
                        <img src="{{ project.image.url }}" class="card-img-top" alt="{{ project.name }}"></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{% url 'project' pk=project.pk %}" class="text-decoration-none text-dark">{{ project.name }}</a>
                        </h4>
                        <h6 class="card-title">Tech Stack: {{ project.tech_stack }}</h6>
                        <h6 class="card-title">{{ project.get_status_display }}</h6>
                    </div>
                </div>
            </div>
            {% empty %}
        <p class="text-center">No projects found.</p>
    {% endfor %}
    </div>
</div>

{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}